.nav {
    background-color: #0E0b16;
    border-color: #e7dfdd;
    border-style: solid;
    color: #e7dfdd;
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    height: 100px;
    gap: 2rem;
    padding: 0 1rem;
}
.nav ul {
    padding: 0;
    margin: 0;
    list-style: none;
    display: flex;
    gap: 1rem;
}

.nav a {
    color:inherit;
    text-decoration: none;
    height: 100%;
    display: flex;
    align-items: center;
    padding: .25rem;
}

.nav li.active {
    color: #a239ca;
}

.nav li.hover {
    background-color: #777;
}

.site-name {
    font-size: 2rem;
}

.song_card {
    margin: auto;
    width: 60%;
    border-style: groove;
    border-color: #4717f6;
    border-width: medium;
    border-radius: 15px;
    align-items: center;
    display: flex;
}

.song_card .left {
    padding: 20px;
    margin-right: auto;
    margin-top: auto;
    height: 100%; 
    width: 50%;
}
.song_card .right {
    margin-left: auto;
    height: 100%;
    width: 50%
}

* {
    font-weight: bold;
}

body {
    background-color: #0E0b16;
    color: #e7dfdd;
}
